{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}" />
    <title>Workout App</title>
</head>
<body>
    
    <!--Left navigation bar-->
    <nav class="left-nav">
        <li>Exercises</li>
        <li>Workout</li>
    </nav>

    <!-- header -->
    <header class="header">
        <h4>Welcome Richard</h4>
    </header>

    <!-- section Graphs-->
    <section class="graph-section">
        <h4>graph</h4>
    </section>
</body>
</html>